apiVersion: apps/v1
kind: Deployment
metadata:
  name: playback-service
  namespace: streaming
spec:
  replicas: 1
  selector:
    matchLabels:
      app: playback-service
  template:
    metadata:
      labels:
        app: playback-service
    spec:
      containers:
        - name: playback-service
          image: playback-service:0.1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8090
          env:
            - name: PORT
              value: "8090"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8090
            initialDelaySeconds: 2
            periodSeconds: 5
            timeoutSeconds: 2
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8090
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
